body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Style */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.page {
  display: none;
  padding: 20px;
}

/* select page target style */
.page:target {
  display: block;
}

/* info */
.info {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("https://s3-alpha-sig.figma.com/img/43a6/c2ce/b3fa8b4ca9412d765375211e15b7ded5?Expires=1702252800&Signature=a-n9uY4zZnJga91O~0t4tYv72ASJYvHCTtULdBuRQgU4WFd2ohKgdVuBrfO9xHK~V3Ec3g8hrEvlPHviG9u4TMvBGmYCvY9icR6g-G8RPSLITJLdZtU8b2Dxp1FQbkymzF8IkSrwrkwyLviiAz2Lrl7UYXzsu71pxWLEa1SIto9X8l60o7tEWzN8uY2p4cKzbw9Pn0LwATmMV4~i5O09hQsvT4TgSumucXf9pLFWhhJMqpMjp-~fXFTHgSNnW-six-CqDt-bl8WLKbA9sI5Nw3jpBo03CKpAd0W40I7DmqBv42Op73LMARcb7K~FzDV-KOiTVsolQTTqJfSu0BYRvw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4") no-repeat 0px 0px, #FFFFFF;
  background-size: cover;
}

